beautifulsoup4==4.7.1
boto3==1.9.146
botocore==1.12.146
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
html-parser==0.2
idna==2.8
jmespath==0.9.4
lxml==4.9.1
ply==3.11
python-dateutil==2.8.0
requests==2.21.0
s3transfer==0.2.0
six==1.12.0
soupsieve==1.9.1
unicode==2.7
urllib3==1.24.3
yattag==1.11.1
